@model ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
}

@section Scripts{
    @*Sayfa refresh olmadan validation'ın yapılması için*@
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
}


    <div class="row justify-content-center">
        <div class="text-center col-md-6">
            <h1 class="text-center"><i class="bi bi-arrow-clockwise text-warning"></i> Şifreyi Yenile</h1>
            <hr />

            <div class="row justify-content-center">
                <div class="col-md-10">

                    @if (ViewBag.ErrorMessage != null)
                {
                    <div class="row text-center mb-3">
                        <div class="text-danger"><i class="bi bi-x-circle-fill text-danger"></i> @ViewBag.ErrorMessage</div>
                    </div>
                }

                @*@if (TempData["message"] != null)
                {
                    @if (Model.PasswordCheck)
                    {
                        <div class="alert alert-success alert-dismissible fade show mb-4" role="alert">
                            <strong>
                                @TempData["message"]
                            </strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
                            <strong>
                                @TempData["message"]
                            </strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }


                }*@

                <form asp-controller="Account" asp-action="ResetPassword" method="post" class="d-grid gap-4">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input type="hidden" name="Token" value="@Model.Token" />


                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">E-mail</label>
                        <div class="col-md-9">
                            <input type="email" name="email" class="form-control" />
                            @*<span asp-validation-for="Username" class="text-danger"></span>*@
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Password" class="col-md-3 col-form-label">Yeni Şifre</label>
                        <div class="col-md-9">
                            <input class="form-control" asp-for="Password" value="@Model.Password" />
                            @*<span asp-validation-for="Password" class="text-danger"></span>*@
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="RePassword" class="col-md-3 col-form-label">Şifre Tekrar</label>
                        <div class="col-md-9">
                            <input class="form-control" asp-for="RePassword" value="@Model.RePassword" />
                            @*<span asp-validation-for="RePassword" class="text-danger"></span>*@
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="d-grid col-5 mx-auto">
                            <button type="submit" class="btn btn-warning mt-4">Şifreyi Yenile</button>
                        </div>
                    </div>


                </form>

            </div>

            @*<div class="col-md-6">

            </div>*@
        </div>
    </div>
</div>


